 ul {
    list-style-type: none;
    margin: 20;
}
li {
	float: left;
}
li a {
	display: block;
	color: rgb(101,157,150);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color:rgb:(106,159,140);
}s
p {
	font:helvetica; san serif;
	text-align:center;
	size:15px;
	color:rgb(101,157,160);
	background-color: white;
}