p {
	font:helvetica; san serif;
	text-align:center;
	size:20px;
	color:rgb(101,157,160);
	background-color: white;
	display:block;
}
h1 {font:helvetica; sans serif;
	text-align:left;
	size: 18px;
	padding-left: 20px;
}
#myCarousel {
	width: 1000px;
	height: 600px;
	display: block;
}

.background {#C4F2EB}

/* Dropdown Button style */
.dropbtn {
	background-color: #FFFFFF;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
/* Dropdown Button on hover and focus */
.dropbtn:hover, .dropbtn:focus {
	background-color:#ADD8E6;
}
/* the container <div> - needed to position the dropdown content */
.dropdown {
	float:right;
	padding-right: 15px;
	position: relative;
	display: inline-block;
}
/* Dropdown Content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba (0,0,0,0.2);
}
/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ADD8E6}

/* Show the dropdown menu (us JS to add this class to the .dropdown-content container 
when the user clicks on the dropdown button) */
.show {display:block;}
/*this is for the form button on the homepage */
#myBtn {
    color: black;
    background-color: #009999;
    border: none;
    padding: 15px 32px;
    text-align: center;
    border-radius: 8px;
    font: helvetica; san serif;
    font-weight: bold;
    border: 1.5px black solid;
    position: fixed;
 }

#buttonposition {
position: fixed;
top: 80%;
left: 70%;
margin-top: -100px; /* Negative half of height. */
margin-left: -250px; /* Negative half of width. */
}

